In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pandas as pd
import numpy as np
import time

In [2]:
df=pd.read_csv('Train.csv',low_memory=False)

In [3]:
df.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [4]:
df['Col2'].value_counts()

0    15760
1     1761
Name: Col2, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2395 entries, Col1 to Col2397
dtypes: float64(844), int64(1548), object(3)
memory usage: 320.2+ MB

In [6]:
df['Col747'].replace(r'-', np.nan, regex=True,inplace=True)

In [7]:
df['Col747'].value_counts()

0    489
1      2
5      1
3      1
Name: Col747, dtype: int64

In [8]:
df['Col836'].value_counts()

0    479
-    144
5      1
Name: Col836, dtype: int64

In [9]:
df['Col836'].replace(r'-', np.nan, regex=True,inplace=True)

In [10]:
df['Col836'].value_counts()

0    479
5      1
Name: Col836, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2395 entries, Col1 to Col2397
dtypes: float64(844), int64(1548), object(3)
memory usage: 320.2+ MB

In [12]:
df.shape

(17521, 2395)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2395 entries, Col1 to Col2397
dtypes: float64(844), int64(1548), object(3)
memory usage: 320.2+ MB

In [14]:
df["Col747"] = pd.to_numeric( df["Col747"], errors = 'corece' )

In [15]:
df["Col836"] = pd.to_numeric( df["Col836"], errors = 'corece' )

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2395 entries, Col1 to Col2397
dtypes: float64(846), int64(1548), object(1)
memory usage: 320.2+ MB

In [17]:
X1=df.drop(['Col1','Col2'], axis=1)

In [18]:
y=df['Col2']

In [19]:
X1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2393 entries, Col3 to Col2397
dtypes: float64(846), int64(1547)
memory usage: 319.9 MB

## Pre Processing

In [20]:
from sklearn.preprocessing import Imputer
from sklearn.impute import SimpleImputer
fill_NaN = SimpleImputer(missing_values=np.nan,strategy='median')
X = pd.DataFrame(fill_NaN.fit_transform(X1))
X.columns = X1.columns
X.index = X1.index

## Final Model

In [21]:
import lightgbm as lgb
from lightgbm import LGBMModel,LGBMClassifier
lgbm = LGBMClassifier(objective='binary', n_estimator=150,random_state=0,reg_alpha=1,reg_lambda=5,learning_rate=0.01,is_unbalance=True)

In [22]:
start = time.time()
lgbm.fit(X,y)
end = time.time()
fit_time = (end - start)
print('Fit time: {}'.format(round(fit_time, 3)))

Fit time: 13.186

## Test File

In [23]:
df1=pd.read_csv('Test.csv',low_memory=False)

In [24]:
df1.head(2)

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGD58ZWD,8.167140e+04,86145.420,7.532296e+04,7.532296e+04,112517.400,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,...,0,0,0,0,44.0,44.0,23.0,41.0,41.0,36.0
1,RIH660YDS,-1.362824e+07,-4493042.782,-3.777257e+06,-4.493043e+06,-4749764.373,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,...,1,1,2,2,1234.0,1234.0,680.0,154.0,153.0,86.0

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20442 entries, 0 to 20441
Columns: 2394 entries, Col1 to Col2397
dtypes: float64(837), int64(1545), object(12)
memory usage: 373.4+ MB

In [26]:
objects = df1.select_dtypes(include=['object'])

In [27]:
objects.columns

Index(['Col1', 'Col702', 'Col733', 'Col742', 'Col754', 'Col763', 'Col791',
       'Col813', 'Col822', 'Col831', 'Col843', 'Col852'],
      dtype='object')

In [28]:
df1['Col702'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col702"] = pd.to_numeric( df1["Col702"], errors = 'corece' )

In [29]:
df1['Col733'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col733"] = pd.to_numeric( df1["Col733"], errors = 'corece' )

In [30]:
df1['Col742'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col742"] = pd.to_numeric( df1["Col742"], errors = 'corece' )

In [31]:
df1['Col754'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col754"] = pd.to_numeric( df1["Col754"], errors = 'corece' )

In [32]:
df1['Col763'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col763"] = pd.to_numeric( df1["Col763"], errors = 'corece' )

In [33]:
df1['Col791'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col791"] = pd.to_numeric( df1["Col791"], errors = 'corece' )

In [34]:
df1['Col813'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col813"] = pd.to_numeric( df1["Col813"], errors = 'corece' )

In [35]:
df1['Col822'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col822"] = pd.to_numeric( df1["Col822"], errors = 'corece' )

In [36]:
df1['Col831'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col831"] = pd.to_numeric( df1["Col831"], errors = 'corece' )

In [37]:
df1['Col843'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col843"] = pd.to_numeric( df1["Col843"], errors = 'corece' )

In [38]:
df1['Col852'].replace(r'-', np.nan, regex=True,inplace=True)
df1["Col852"] = pd.to_numeric( df1["Col852"], errors = 'corece' )

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20442 entries, 0 to 20441
Columns: 2394 entries, Col1 to Col2397
dtypes: float64(848), int64(1545), object(1)
memory usage: 373.4+ MB

In [40]:
X2=df1.drop(['Col1'], axis=1)

In [41]:
X2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20442 entries, 0 to 20441
Columns: 2393 entries, Col3 to Col2397
dtypes: float64(848), int64(1545)
memory usage: 373.2 MB

In [42]:
from sklearn.impute import SimpleImputer
fill_NaN = SimpleImputer(missing_values=np.nan,strategy='median')
X = pd.DataFrame(fill_NaN.fit_transform(X2))
X.columns = X2.columns
X.index = X2.index

In [43]:
start = time.time()
prediction1 = lgbm.predict(X)
end = time.time()
pred_time = (end - start)
print('Prediction time: {}'.format(round(pred_time, 3)))

Prediction time: 1.29

In [44]:
df1['Col2']=prediction1
submission = df1[['Col1','Col2']] 
submission.to_csv('Final.csv', index=False)